<h1>Create Track</h1>

<form action="<%= tracks_url %>" method="post">
  <div>Name: <input type="text" name="track[name]"></div>

  <div>Album:
    <select name="album[name]">
      <option value="">Choose an album</option>
      <% @albums.each do |album| %>
      <option value="<%= album.name %>"><%= album.name %></option>
      <% end %>
    </select>
  </div>

  <div>
    Type:
    <input name="track[kind]" id="regular_track" type="radio" value="regular">
    <label for="regular_track">Regular</label>

    <input name="track[kind]" id="bonues_track" type="radio" value="bonus">
    <label for="bonus_track">Bonus</label>
  </div>
  <br>
  <div>Lyrics:<br>
    <textarea cols="30" rows="4" name="track[lyrics]"></textarea>
  </div>

  <br>
  <input type="submit" value="Submit">
</form>